In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
data={
    'Name':['Amy','Maeve'],
    'Age':[20,21]
}

In [3]:
df1=pd.DataFrame(data)

In [4]:
df1

    Name  Age
0    Amy   20
1  Maeve   21

In [5]:
data2={'x':np.arange(10),'y':np.random.rand(10)}

In [6]:
df2=pd.DataFrame(data2)

In [7]:
df2

   x         y
0  0  0.613313
1  1  0.469287
2  2  0.522579
3  3  0.140732
4  4  0.976023
5  5  0.044085
6  6  0.927553
7  7  0.397757
8  8  0.876705
9  9  0.343137

In [8]:
dfToSave=(df1,df2)

In [9]:
with open('data.pickle','wb') as f:
    pickle.dump(dfToSave,f)

In [10]:
with open('data.pickle','rb') as f:
    data=pickle.load(f)

In [12]:
data[0]

    Name  Age
0    Amy   20
1  Maeve   21

In [13]:
data[1]

   x         y
0  0  0.613313
1  1  0.469287
2  2  0.522579
3  3  0.140732
4  4  0.976023
5  5  0.044085
6  6  0.927553
7  7  0.397757
8  8  0.876705
9  9  0.343137

In [14]:
data[1]['y']

0    0.613313
1    0.469287
2    0.522579
3    0.140732
4    0.976023
5    0.044085
6    0.927553
7    0.397757
8    0.876705
9    0.343137
Name: y, dtype: float64